<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %} {% endblock %}</title>
	{%  load staticfiles %}

	<link rel="stylesheet" href="{% static 'sass/search-page.css' %}">
	<link rel="stylesheet" href="{% static 'sass/main.css' %}">
	<link rel="stylesheet" href="{% static 'sass/login-form.css' %}">
	<link rel="stylesheet" href="{% static 'sass/main-page.css' %}">
	<link rel="stylesheet" href="{% static 'sass/register.css' %}">
	<link rel="stylesheet" href="{% static 'sass/restaurant.css' %}">
	<link rel="stylesheet" href="{% static 'sass/user.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'additions/slick-1.8.1/slick-1.8.1/slick/slick.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'additions/slick-1.8.1/slick-1.8.1/slick/slick-theme.css' %}" /> -->
	<link rel="stylesheet" href="{% static 'fonts/AvenirNextCyr/stylesheet.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/air-datepicker/dist/css/datepicker.min.css' %}">



</head>

<body>
	
	<div class="login-form">

		<div class="materialContainer">
			<div class="box">
				<div class="title">ВХОД</div>
				<form action="/auth/login/" method="POST">
					{% csrf_token %}
					<div class="input">
						<label for="username">Логин</label>
						<input type="text" name="username" id="username">
					</div>

					<div class="input">
						<label for="password">Пароль</label>
						<input type="password" name="password" id="password">
					</div>

					<div class="button login">
						<button type="submit"><span>Войти</span> <i class="fa fa-check"></i></button>
					</div>

				</form>
				<a href="/auth/register/" class="pass-forgot">Регистрация</a>

			</div>


		</div>
		<div class="mask"></div>
	</div>


	<header class="top-header">
		<div class="top-header__wrapper width-limit">


			<div class="top-header__nav-bar nav-bar">
				<ul class="nav-bar__list list">
					<li class="nav-bar__item item">
						<div class="top-header__logo logo"><a href="/">
								<div class="rotate-shadows"></div>
							</a></div>
					</li>
					<li class="nav-bar__item item">
						<a href="/catalog" class="nav-bar__link underline-hover">Поиск заведений</a>
					</li>
					{% if user.id == 1 or user.id == 2 %}
					<li class="nav-bar__item item">
						<a href="/admin" class="nav-bar__link underline-hover">Админка</a>
					</li>
					{% endif %}
					<li class="nav-bar__item item">

					</li>

				</ul>
			</div>
			<div class="right-side">
				<ul>
					<li>
						<div class="top-header__search search">
							<form action="">
								<input placeholder="Поиск" class="search__input" type="text">
								<button class="search__btn" type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</li>
					<li>
						{% block auth %}
						{% include "mainApp/includes/login_panel.html" %}
						{% endblock %}
					</li>
				</ul>
			</div>

		</div>
	</header>

	<div class="content-section">
		{% block content %}

		{% endblock %}
	</div>


	<footer class="main-footer">
		<div class="main-footer__wrapper width-limit">
			<div class="main-footer__logo">

			</div>
			<!-- <div class="main-footer__nav">
				<ul class="main-footer__list list">
					<li class="main-footer__item">
						<a class="main-footer__link list__headline" href="">EZtable</a>
					</li>
					<li class="main-footer__item item">
						<a href="#" class="main-footer__link"><i
								class="fas fa-search-plus category-icon"></i>Расширенный
							поиск</a>
					</li>
					<li class="main-footer__item item">
						<a href="#" class="main-footer__link"><i class="fas fa-star category-icon"></i>Популярные
							заведения</a>
					</li>
					<li class="main-footer__item item">
						<a href="#" class="main-footer__link"><i class="fas fa-book-reader category-icon"></i>О нас</a>
					</li>
				</ul>
			</div> -->
			<div class="main-footer__category">
				<ul class="main-footer__list list">
					<li class="main-footer__item">
						<a class="main-footer__link list__headline" href="">Катерогиии</a>
					</li>

					<li class="main-footer__item item">
						<a href="/catalog/?page=1&cat=PC" class="main-footer__link">Пиццерии</a>
					</li>
					<li class="main-footer__item item">
						<a href="/catalog/?page=1&cat=RS" class="main-footer__link">Рестораны</a>
					</li>
					<li class="main-footer__item item">
						<a href="/catalog/?page=1&cat=BG" class="main-footer__link">Бургерные</a>
					</li>
					<li class="main-footer__item item">
						<a href="/catalog/?page=1&cat=CF" class="main-footer__link">Кафе</a>
					</li>
					<li class="main-footer__item item">
						<a href="/catalog/?page=1&cat=BR" class="main-footer__link">Бары</a>
					</li>
					<li class="main-footer__item item">
						<a href="/catalog/?page=1&cat=KR" class="main-footer__link">Караоке</a>
					</li>
				</ul>
			</div>
			<div class="main-footer__contacts contacts">
				<span class="contacts__phone-num"><i class="fas fa-phone contacts__phone-num-icon"></i>+7 (499)
					123-45-67</span><br>
				<span class="contacts__address"><i class="fas fa-map-marker-alt contacts__address-icon"></i>Республика
					Беларусь, г. Могилев, ул. Ленинская 24А</span>
			</div>
		</div>
	</footer>
	<a href="#top" class="arrow-up"><i class="fas fa-arrow-up"></i></a>



	<script src="{% static 'js/jQuery.js' %}"></script>
	<script src="{% static 'js/login-form.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'node_modules/air-datepicker/dist/js/datepicker.min.js' %}"></script>


</body>

</html>