@import colors

.user
	background: rgba(0,0,0,0.3)
	height: 100vh
	&__card
		// position: absolute
		// top: 50%
		// left: 50%
		// transform: translate(-50%, -50%)
		background: #fff
		padding: 3%
		margin: 0 10%
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-around
	&__image
		display: inline-block
		padding: 10px
	&__description
		display: inline-block
		position: relative
		top: 50%

	h1
		font-size: 4rem
		margin-bottom: 40px
		text-align: center
	p
		font-size: 1.8rem
		margin-bottom: 1.2rem
	&__bold-text
		font-weight: 600
		margin-right: 0.5rem
	