<div class="rest-selection__list rest-list">
    {% for rest in list %}
    <div class="rest-card card">
      <div class="rest-card__image card__image"><img src="{{rest.photo.url}}" alt="{{rest.name}}"></div>
      
      <div class="rest-card__headline card__name"> 
        <a href="/restaurant/{{rest.id}}" class="text-dark">{{rest.name}}</a>
      </div>
         
      <div class="rest-card__description card__descr">
        <div class="rest-card__text">{{rest.description}}</div>
        <div class="rest-card__rating">
          <p id="{{rest.id}}"
            {% for like in likes %}{% if like.restaurant.id == rest.id %}class="like-added"
            {% endif %}{% endfor %}><i class="fas fa-heart" onclick="like(this)" ></i> <span class="mark">{{rest.mark}}</span></p>
          </div>
      </div>
      <button class="rest-card__btn" onclick="MakeOrder(this)">Забронировать</button>
    </div>
    {% endfor %}
  </div> 
</div>
 
<div class="pagination" >
        <!-- <a href="?page=1" ></a> -->
    {% if list.has_previous %}
        <a class="pagination__prev-page" href="?page={{ list.previous_page_number }}{% if cat %}&cat={{cat}}{% endif %}">Предыдущая</a>
    {% else %}    
        <a style="visibility: hidden" class="pagination__prev-page" href="">Предыдущая</a>
    {% endif %}

    <span class="pagination__current">{{ list.number }} из {{ list.paginator.num_pages }}</span>

    {% if list.has_next %}
        <a class="pagination__next-page" href="?page={{ list.next_page_number }}{% if cat %}&cat={{cat}}{% endif %}">Следующая</a>
    {% else %}
        <a style="visibility: hidden" class="pagination__next-page" href="">Следующая</a>
    {% endif %}
    <!-- <a href="?page={{ list.paginator.num_pages }}"></a> -->
</div>