{% extends "mainApp/wrapper.html" %}
{% block title %}
Список
{% endblock %}
{% block content %}


 <section class="rest-selection">
      <div class="rest-selection__wrapper width-limit">
        <h2 class="rest-selection__headline">Поиск заведения</h2>
        <div class="rest-selection__ext-search ext__search">

        </div>


        <div class="rest-selection__list rest-list">



          {% for rest in list %}
          <div class="rest-card card">
            <div class="rest-card__image card__image"><img src="{{rest.photo.url}}" alt="{{rest.name}}"></div>
            
            <div class="rest-card__headline card__name"> 
              <a href="/restaurant/{{rest.id}}" class="text-dark">{{rest.name}}</a>
            </div>
               
            <div class="rest-card__description card__descr">
              <div class="rest-card__text">{{rest.description}}</div>
              <div class="rest-card__rating">
                <a href="/restaurant/like/{{rest.id}}"
                  {% for like in likes %}{% if like.restaurant.id == rest.id %}class="text-success"
                  {% endif %}{% endfor %}><i class="fas fa-heart"></i>  {{rest.mark}}</a>
                </div>
            </div>
            <button class="rest-card__btn">Забронировать</button>

          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
       
    <div class="pagination" >
      <span class="step-links">
              <a href="?page=1" ><<&nbsp;</a>
          {% if list.has_previous %}
              <a href="?page={{ list.previous_page_number }}"><</a>
          {% endif %}
  
          <span class="current" > страница {{ list.number }} из {{ list.paginator.num_pages }}</span>
  
          {% if list.has_next %}
              <a href="?page={{ list.next_page_number }}">></a>
          {% endif %}
          <a href="?page={{ list.paginator.num_pages }}">&nbsp;>></a>
      </span>
  </div>
{% endblock %}