{% extends "mainApp/wrapper.html" %}

{% block title %}
{{rest.name}}
{% endblock %}

{% block content %}
    {% if error %}
    <h2>Ресторан удален или не создан</h2>
    {% else %}
     <div class="rest">

       <div class="rest__card">
         <img class="rest__image" src="{{rest.photo.url}}" s alt="{{rest.Username}}" data-holder-rendered="true">
         <div class="rest__description">
           <h1 class="rest__headline">{{rest.name}}</h1>
           <p class="rest__description">{{rest.description}}</p>
           <div class="rest__contacts"></div>
           <p class="rest__worktime">{{rest.worktime}}</p>
           <p class=""><a href="/restaurant/like"
               {% for like in likes %}{% if like.restaurant.id == rest.id %}class="like-added"
               {% endif %}{% endfor %}><i class="fas fa-heart"></i> {{rest.mark}}</a>
             
           </p>
           <div id="map_canvas"></div>
             <p>Добавлен: {{rest.date|date:"d-m-Y"}}</p>
             <p>Телефон: {{rest.phone}}</p>
             <p>Владелец: <a href="/user/{{rest.owner}}">{{owner}}</a></p>
             
           {% if user.id == rest.owner %}<a href="/restaurant/editor" class="btn">Редактировать
             данные</a>{% endif %}
         </div>

          <div id="comments">
            {% for comment in object_list %}
            <div class="card">
              <div class="card-header">
                <a href="/user/{{comment.author}}">{{comment.name}}</a> {{comment.date|date:"d-m-y H:i:s"}}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{comment.text}}</p>
                </blockquote>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if user.is_authenticated %}
          <form name="postcomment">
            {% csrf_token %}
            <input type="text" name="text" id="text">
          </form>
          <button onclick="newComment()">Отправить</button>
       </div>

     




 

      {% endif %}
   
    
{% endif %}
{% endblock %}
