{% extends "mainApp/wrapper.html" %}

{% block title %}
{{rest.name}}
{% endblock %}

{% block content %}
    {% if error %}
    <div class="sorry">
      <div class="sorry__img" style="background-image: url('/media/other/Homer.png')"></div>
      <div class="sorry__descr">
        <h1 class="sorry__title">Упс, что-то пошло не так :(</h1>
        <div class="sorry__text">Заведение, которое Вы искали удалено или не создано.</div>
      </div>
    </div>
    {% else %}
    
     <div class="rest">
      <div class="order rest-order">
        <div class="order-card rest-order__card">
          <h2>Выберите день</h2>
          <input autocomplete="off" onmousewheel="ChangeDate(this)" type="text" class="datepicker-here order-card__date"
            id="date" placeholder="день месяц год">
          <h2>Выберите столик</h2>
          <div class="order-card__filter">

            <lable for="is-smoke">Можно курить<input onclick="ChangeValue()" name="is-smoke" id="is-smoke"
                class="order-card__checkbox" type="checkbox"></lable>
            <lable for="is-window">У окна<input onclick="ChangeValue()" name="is-window" id="is-window"
                class="order-card__checkbox" type="checkbox"></lable>
          </div>

          <div class="order-card__tables-result tables">
          </div>
          <div class="order-card__time-block">

          </div>
          <textarea class="order-card__offer" placeholder="Ваши дополнительные пожелания"></textarea>
          <button class="order-card__send-btn btn" onclick="SendOrder()">Забронировать</button>
        </div>
        
      </div>
       <div class="rest__card">
         <img class="rest__image" src="{{rest.photo.url}}" s alt="{{rest.Username}}" data-holder-rendered="true">
         
           <h1 class="rest__headline">{{rest.name}}</h1>
           <p class="rest__description">{{rest.description}}</p>
           <div class="rest__contacts">
             <div class="rest__worktime"><i class="far fa-clock"></i>
              <div>
                <p>ПН {{week.0.0}}</p>
                <p>ВТ {{week.1.0}}</p>
                <p>СР {{week.2.0}}</p>
                <p>ЧТ {{week.3.0}}</p>
                <p>ПТ {{week.4.0}}</p>
                <p>СБ {{week.5.0}}</p>
                <p>ВС {{week.6.0}}</p>
              </div>
            </div>
             <p class="rest__phone"><i class="fas fa-phone"></i> {{rest.phone}}</p>
             <p class="rest__address"><i class="fas fa-map-marker-alt"></i> Могилев, ул. Центральная 24/a</p>
             <p class="rest__cat">Категория: {{rest.getcategory}}</p>
           </div>
           <div>
             
           </div>

           <div class="rest-card__rating rest__rating">
             <p id="{{rest.id}}" {% for like in likes %}{% if like.restaurant.id == rest.id %}class="like-added" {% endif %}{% endfor %}><i class="fas fa-heart like" onclick="like(this)"></i> <span class="mark">{{rest.mark}}</span></p>
           </div>

           <div id="map_canvas"></div>
             <p>Добавлен: {{rest.date|date:"d-m-Y"}}</p>
             <p>Владелец: <a href="/user/{{rest.owner}}">{{owner}}</a></p>
           {% if user.id == rest.owner %}<a href="/restaurant/editor" class="btn rest__btn">Редактировать
             данные</a>{% endif %}
       </div>

      <!-- {% for tab in tables %}
        {% if tab.smoke and tab.window %}
            <div onclick="GetTime(this)" id="{{forloop.counter0}}" class="table__window-smoke" style="background-color: green; width: 17px; height: 17px; text-align: center; display: inline-block">{{tab.count}}</div>
        {% endif %}
        {% if tab.smoke and not tab.window %}
            <div onclick="GetTime(this)" id="{{forloop.counter0}}" class="table__smoke" style="background-color: green; width: 17px; height: 17px; text-align: center; display: inline-block">{{tab.count}}</div>
        {% endif %}
        {% if not tab.smoke and tab.window %}
            <div onclick="GetTime(this)" id="{{forloop.counter0}}" class="table__window" style="background-color: green; width: 17px; height: 17px; text-align: center; display: inline-block">{{tab.count}}</div>
        {% endif %}
      {% endfor %} -->
   





    
          <div id="comments" class="comments">
            <h2 class="comments__headline">Комментарии</h2>
            <form name="postcomment">
              {% csrf_token %}
              <textarea type="text" placeholder="Введите текст комментария..." rows="30" name="text" id="text"
                class="comments__input"></textarea>
            </form>
            <button class="btn" onclick="newComment()">Отправить</button>
            {% for comment in object_list %}
            <div class="comments__card">
              <div class="comments__card-header">
                <a href="/user/{{comment.author}}">{{comment.name}}</a> 
              </div>
              <div class="comments__card-body">
                <blockquote>
                  <p>{{comment.text}}</p>
                </blockquote>
                <p class="comments__card-time">{{comment.date|date:"d-m-y H:i:s"}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if user.is_authenticated %}
          
         </div>
      {% endif %}
   
    
{% endif %}
{% endblock %}
