{% extends "mainApp/wrapper.html" %}

{% block title %}
    {% if user.id %}{{userprofile.username}}{% else %}Авторизуйтесь{% endif %}
{% endblock %}

{% block content %}
    {% if error %}
    <h2>Пользователь удален или не создан</h2>
    {% else %}
    {% if user.id %}
        <div class="user">
           
                <div class="user__card">
                    <div class="user__image"><img
                            src="{{client.photo.url}}" width="100" height="100"
                            alt="adsf"></div>
                    <div class="user__description">
                        <h1>{{userprofile.first_name}} {{userprofile.last_name}}</h1>
                        <p><span class="user__bold-text">Дата регистрации:</span> {{userprofile.date_joined|date:"d.m.Y"}} в
                            {{userprofile.date_joined|date:"H:i:s"}}</p>
                        <p><span class="user__bold-text">Последний вход:</span> {{userprofile.last_login|date:"d.m.Y"}} в
                            {{userprofile.last_login|date:"H:i:s"}}</p>
                            <p><span class="user__bold-text">Телефон:</span> {{client.phone}}</p>
                        <p><span class="user__bold-text">Ресторан:</span> {% if rest %}<a
                                    href="/restaurant/{{rest.id}}">{{rest.name}}</a>{% elif userprofile == user %}<a
                                    href="/restaurant/create/">Создать</a>{% else %}---{% endif %}</p>
                        {% if user.id == userprofile.id %}<a href="/user/editor" class="btn">Редактировать данные</a>{% endif %}
                    </div>
                </div>
           
        </div>





    <!-- <h2>{{userprofile.username}}</h2>
    <div class="row">
        <div class="col">
            <p>Имя: {{userprofile.first_name}}</p>
            <p>Фамилия: {{userprofile.last_name}}</p>
        </div>
        <div class="col">
            <p>Дата регистрации: {{userprofile.date_joined|date:"d.m.Y"}} в {{userprofile.date_joined|date:"H:i:s"}}</p>
            <P>Последний вход: {{userprofile.last_login|date:"d.m.Y"}} в {{userprofile.last_login|date:"H:i:s"}}</P>
            <P>Ресторан: {% if rest %}<a href="/restaurant/{{rest.id}}">{{rest.name}}</a>{% elif userprofile == user %}<a href="/restaurant/create/">Создать</a>{% else %}---{% endif %}</P>
        </div>
    </div> -->
    {% else %}
    <h2>Авторизуйтесь</h2>
    {% endif %}
    {% endif %}

{% endblock %}